{% load custom_tags %}
{% if user_in or users %}
  <div class="flex-grid gap-4 gap-sm-3">
    {% if user_in %}
      <div class="card bg-body-tertiary user-thumbnail"
           href="{{ request.user.get_absolute_url }}">
        <img src="{{ request.user.photo.url }}"
             style="height: 230px"
             class="card-img-top user-photo object-fit-cover"
             alt="{{ request.user.username }}" />
        <div class="card-body">
          <h4 class="card-title text-center">
            {{ request.user.username }}
          </h4>
          <p class="card-text text-center">
            {{ request.user.get_full_name }} &#124; {{ request.user.get_age }} y.o.
          </p>
          <a role="button"
             href="{{ request.user.get_absolute_url }}"
             class="btn btn-primary w-100">
            <i class="fa-solid fa-eye"></i>
            Check
          </a>
        </div>
      </div>
    {% endif %}
    {% for user in users %}
      <div class="card bg-body-tertiary user-thumbnail"
           href="{{ user.get_absolute_url }}">
        <img src="{{ user.photo.url }}"
             style="height: 230px"
             class="card-img-top user-photo object-fit-cover"
             alt="{{ user.username }}" />
        <div class="card-body">
          <h4 class="card-title text-center">
            {{ user.username }}
          </h4>
          <p class="card-text text-center">
            {{ user.get_full_name }} &#124; {{ user.get_age }} y.o.
          </p>
          {% if is_users or user.followers.exists and request.user in user.followers.all %}
            <a role="button"
               href="{{ user|get_url:'unfollow' }}"
               class="btn btn-warning w-100">
              <i class="fa-solid fa-user-minus"></i>
              Unfollow
            </a>
          {% else %}
            <a role="button"
               href="{{ user|get_url:'follow' }}"
               class="btn btn-primary w-100">
              <i class="fa-solid fa-user-plus"></i>
              Follow
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <h4 class="text-center">
    None
  </h4>
{% endif %}
