
.env
**/.venv
**/__pycache__
**/.vscode
**/scss
**/*.pyc
vol/media/**

root_static/node_modules
root_static/scss
!/vol/media/defaults
/package.json
.git
.gitignore
.venv
.vscode
proxy
Screenshots
.gitignore
README.md
db.sqlite3
dockerfile
.mypgpass