{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
  {{ user }}
{% endblock title %}
{% block link %}
  <link rel="stylesheet" href="{% static 'base/styles/users/user_profile.css' %}" />
{% endblock link %}
{% block content %}
  {% check_owner request user as is_owner %}
  <section>
    <div class="container py-5">
      <div class="card overflow-hidden profile-box">
        <div class="gradient-overlay text-white d-flex pb-3 pb-sm-0 pt-5"
             style="background: {{ user.get_color }}">
          <div class="py-3 py-sm-0 px-4 mx-auto mx-sm-0 flex-grow-1">
            <div class="profile-head d-flex gap-3 align-items-center justify-content-center justify-content-sm-start flex-column flex-sm-row">
              <div>
                <img class="img-fluid border border-3 rounded-3 shadow profile-photo"
                     src="{{ user.photo.url }}"
                     style="border-color: {{ user.get_color }} !important"
                     alt="{{ user }}" />
              </div>
              <div class="text-center text-sm-start">
                <h2>
                  {{ user.get_full_name|default:'No Fullname' }}
                </h2>
                <p class="m-0 lead fw-normal">
                  {{ user.username }}
                </p>
                <p class="m-0">
                  {{ user.get_age }} y.o.
                </p>
              </div>
              {% if not is_owner %}
                <div class="flex-grow-1 align-self-end text-end">
                  {% if request.user.following.exists and user in request.user.following.all %}
                    <form action="{% url 'unfollow' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="pk" value="{{ user.pk }}" />
                      <button class="btn btn-warning btn-lg shadow" type="submit" value="unfollow">
                        <i class="fa-solid fa-user-minus"></i>
                        Unfollow
                      </button>
                    </form>
                  {% else %}
                    <form action="{% url 'follow' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="pk" value="{{ user.pk }}" />
                      <button class="btn btn-primary btn-lg shadow" type="submit" value="follow">
                        <i class="fa-solid fa-user-plus"></i>
                        Follow
                      </button>
                    </form>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="p-4 bg-body-tertiary">
          <div class="d-flex gap-3 flex-column flex-sm-row align-items-center justify-content-between">
            <div class="order-1 order-sm-0">
              {% if is_owner %}
                <a class="btn btn-success edit-profile-btn"
                   href="{% url 'edit_profile' %}"
                   data-mdb-ripple-color="dark">
                  <i class="fa-solid fa-pen-to-square"></i> Edit Profile
                </a>
              {% endif %}
            </div>
            <div class="d-flex order-0 justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">
                  {{ user.posts.count }}
                </p>
                <p class="small text-muted mb-0">
                  Posts
                </p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">
                  {{ user.topics.count }}
                </p>
                <p class="small text-muted mb-0">
                  Topics
                </p>
              </div>
              <div>
                <p class="mb-1 h5">
                  {{ user.followers.count }}
                </p>
                <p class="small text-muted mb-0">
                  Followers
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body p-4">
          <div class="mb-5">
            <p class="lead fw-normal mb-1">
              About
            </p>
            <div class="p-4 bg-body-secondary rounded-2">
              {{ user.about|default:'About me' }}
            </div>
          </div>
          <div id="profile_content">
            {% block profile_content %}
              <div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="lead fw-normal mb-0">
                    Recent Posts
                  </p>
                  <p class="mb-0">
                    <a href="{{ user|get_url:'user_posts' }}#profile_content"
                       class="text-muted">Show all</a>
                  </p>
                </div>
                <div>
                  {% render_mini_posts user.posts.all _max=3 %}
                </div>
              </div>
              <div>
                <div class="d-flex mt-5 justify-content-between align-items-center mb-3">
                  <p class="lead fw-normal mb-0">
                    Followers
                  </p>
                  <p class="mb-0">
                    <a href="{{ user|get_url:'followers' }}#profile_content"
                       class="text-muted">Show all</a>
                  </p>
                </div>
                <div>
                  {% render_users request user.ordered_followers _max=3 %}
                </div>
              </div>
              <div>
                <div class="d-flex mt-5 justify-content-between align-items-center mb-3">
                  <p class="lead fw-normal mb-0">
                    Following
                  </p>
                  <p class="mb-0">
                    <a href="{{ user|get_url:'following' }}#profile_content"
                       class="text-muted">Show all</a>
                  </p>
                </div>
                <div>
                  {% render_users request user.ordered_following is_users=is_owner _max=3 %}
                </div>
              </div>
              <div>
                <div class="d-flex mt-5 justify-content-between align-items-center mb-3">
                  <p class="lead fw-normal mb-0">
                    Recent Topics
                  </p>
                  <p class="mb-0">
                    <a href="{{ user|get_url:'user_topics' }}#profile_content"
                       class="text-muted">Show all</a>
                  </p>
                </div>
                <div>
                  {% render_vertical_topics request user.topics _max=3 %}
                </div>
              </div>
              <div>
                <div class="d-flex mt-5 justify-content-between align-items-center mb-3">
                  <p class="lead fw-normal mb-0">
                    Following Topics
                  </p>
                  <p class="mb-0">
                    <a href="{{ user|get_url:'user_following_topics' }}#profile_content"
                       class="text-muted">Show all</a>
                  </p>
                </div>
                <div>
                  {% render_vertical_topics request user.following_topics _max=3 %}
                </div>
              </div>
            {% endblock profile_content %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
