{% extends 'base_box.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
  Topic: {{ topic.title }}
{% endblock title %}
{% block link %}
  <link rel="stylesheet" href="{% static 'base/styles/topics/topic.css' %}" />
{% endblock link %}
{% block box_content %}
  <div class="fixed-bottom text-center pb-3 pb-md-4 pe-none">
    <a class="btn btn-outline-info shadow btn-lg py-1 px-5 pe-auto"
       href="{% url 'add_post' %}?topic={{ topic.pk }}">
      <i class="fa-solid fa-square-plus fs-2 mt-1"></i>
    </a>
  </div>
  <div>
    <div class="gradient-overlay text-white pt-5 px-4 px-md-5"
         style="background: {{ topic.get_color }}">
      <div class="px-sm-3 px-md-4 pt-md-3">
        <div class="pb-4 row align-items-start g-0 gap-4">
          <div class="col-md-6 d-grid gap-3 justify-content-center">
            <img class="static-size-img topic-img rounded-3 shadow-sm"
                 src="{{ topic.image.url }}"
                 height="320"
                 alt="" />
            {% if request.user.topics.exists and topic in request.user.topics.all %}
              <a href="{{ topic|get_url:'edit_topic' }}"
                 class="btn btn-success btn-lg fw-bold">
                <i class="fa-solid fa-pen-to-square"></i>
                Edit
              </a>
            {% endif %}
          </div>
          <div class="col flex-grow-1 text-center">
            <h1 class="display-5 fw-normal mb-3">
              {{ topic.title|title }}
            </h1>
            <p>
              {{ topic.description|linebreaksbr }}
            </p>
          </div>
        </div>
        <div class="head-bottom shadow-lg bg-body-secondary p-3 px-4 rounded-3 text-body">
          <div class="d-flex flex-column flex-sm-row gap-2 justify-content-between align-items-center">
            <div class="d-flex gap-3 row-gap-2 flex-wrap align-items-center">
              <h4 class="mb-0 flex-grow-1 text-center">
                <i class="bi bi-people-fill text-primary"></i>
                {{ topic.people.count }}
              </h4>
              <h4 class="mb-0 flex-grow-1 text-center">
                <i class="bi bi-card-heading text-info align-middle"></i>
                {{ topic.posts.count }}
              </h4>
              <h4 class="mb-0 flex-grow-1 text-center">
                <i class="bi bi-person-fill text-secondary"></i>
                <a class="link link-primary link-underline-opacity-0"
                   href="{{ topic.creator.get_absolute_url }}">
                  {{ topic.creator }}
                </a>
              </h4>
            </div>
            <div class="flex-grow-1 text-end">
              {% topic_follow request topic %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="bg-body-tertiary py-4 pt-5">
        <div class="pt-3 pt-sm-0">
          <h2 class="text-center card-title m-0 mt-4 mt-sm-3">
            Topic posts
          </h2>
        </div>
      </div>
      <div class="py-5">
        <div class="px-4">
          {% render_topic_posts posts card_width="20em" %}
        </div>
      </div>
    </div>
  </div>
{% endblock box_content %}
