#colorPreview {
  cursor: pointer;
}

.color-picker-box {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
}

.color-picker {
  border-radius: 0;
  cursor: pointer;

  height: 35px;
}

.profile-img-box {
  position: relative;
  width: min(250px, 100%);
}

.add-box {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.215);
}

.profile-img-box:hover .add-box {
  display: flex;
}

.preview-img {
  height: 250px;
  object-fit: cover;
}
