.card-top {
  height: 135px;
}

.profile-img-box {
  position: absolute;
  bottom: -50%;
  left: 0;
  right: 0;
  text-align: center;
}

.profile-img-box > img {
  width: min(180px, 100%);
  height: 160px;
}
