.profile-box {
  --profile-img-width: 200px;
}

.profile-gradient {
  background: rgb(23, 141, 255);
  position: relative;
}

.profile-gradient > * {
  z-index: 1;
}

.profile-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgb(0 0 0 / 76%) 0%,
    rgb(0 0 0 / 59%) 19%,
    rgba(255, 255, 255, 0) 81%
  );
}

.photo-box {
  max-width: 600px;
}

.profile-photo {
  width: var(--profile-img-width);
  height: 180px;
  object-fit: cover;
}

.thumbnail-img {
  height: 220px;
  object-fit: cover;
}

.edit-profile-btn {
  width: var(--profile-img-width);
}

@media screen and (max-width: 576px) {
  .profile-photo {
    width: 250px;
    height: 230px;
  }
}

@media screen and (min-width: 576px) {
  .profile-head {
    transform: translateY(1em);
  }
}
