{% load custom_tags %}
<nav class="sticky-md-top navbar navbar-expand-sm bg-primary">
  <div class="container">
    <div class="navbar-brand d-flex gap-2 align-items-center">
      <div id="theme-toggler" style="cursor: pointer;">
        <i class="bi bi-brightness-high-fill"></i>
      </div>
      <a class="link-light text-decoration-none" href="{% url 'home' %}">WiniPost</a>
    </div>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex align-items-center flex-column flex-sm-row gap-3">
        <li class="nav-item">
          <a class="nav-link link-light fw-medium"
             aria-current="page"
             href="{% url 'home' %}">
            <i class="fa-solid fa-house"></i>
            <span class="align-middle">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light fw-medium"
             aria-current="page"
             href="{% url 'users' %}">
            <i class="fa-solid fa-users align-middle"></i>
            <span>Users</span></a>
        </li>
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link link-light fw-medium" href="{% url 'add_post' %}">
              <i class="fa-solid fa-square-plus align-middle"></i> <span>Add Post</span></a>
          </li>
          <li class="nav-item dropdown order-first order-sm-0">
            <div class="profile-dropdown dropdown-toggle fw-medium text-center"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false"
                 title="{{ request.user.username }}">
              <img class="img-fluid rounded-3 border border-2 nav-profile-photo"
                   src="{{ request.user.photo.url }}"
                   alt="" />
            </div>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="{{ request.user.get_absolute_url }}">
                  Profile
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'edit_profile' %}">
                  Edit
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link link-light fw-medium" href="{% url 'login' %}"><i class="fa-solid fa-arrow-right-to-bracket align-middle"></i> Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
