{% extends 'base/form.html' %}
{% load static %}
{% block link %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'base/styles/edit_profile.css' %}" />
{% endblock link %}
{% block form_extend_start %}
  <div class="text-center mx-0 py-4 py-md-5 mb-3 bg-body-secondary rounded-2">
    <img id="profile_img"
         class="preview-img border border-3 border-primary rounded-3 shadow"
         src="{{ form.photo.initial.url }}"
         alt="" />
  </div>
{% endblock form_extend_start %}
{% block script %}
  <script src="{% static 'base/js/edit_profile.js' %}"></script>
{% endblock script %}
