{% extends 'base/extending/form.html' %}
{% load static %}
{% block link %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'base/styles/edit_profile.css' %}" />
{% endblock link %}
{% block form_extend_start %}
  <div class="d-flex position-relative justify-content-center align-items-center shadow mx-0 px-3 py-4 py-md-5 mb-4 rounded-2 overflow-hidden"
       id="colorPreview"
       style="background: {{ request.user.get_color }}">
    <div class="profile-img-box mb-4 border border-3 rounded-3 shadow overflow-hidden">
      <img id="profile_img"
           class="w-100 preview-img"
           src="{{ form.photo.initial.url }}"
           alt="" />
      <div role="button" id="setPhotoBtn" class="add-box fs-2 text-white">
        <i class="fa-solid fa-plus"></i>
      </div>
    </div>
    <div class="color-picker-box">
      {{ form.color }}
    </div>
    <div class="d-none">
      {{ form.photo }}
    </div>
  </div>
{% endblock form_extend_start %}
{% block script %}
  <script src="{% static 'base/js/edit_profile.js' %}"></script>
{% endblock script %}
