{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ title|default:'Form' }}
{% endblock title %}
{% block link %}
  <link rel="stylesheet" href="{% static 'base/styles/form.css' %}" />
{% endblock link %}
{% block content %}
  <section>
    <div class="container">
      <div class="bg-body my-5 py-md-5 py-sm-4 py-3 px-3 border shadow-sm rounded-2">
        <div class="form-box py-md-5 py-3">
          {% block form_extend_start %}
          {% endblock form_extend_start %}
          <form action=""
                method="POST"
                autocomplete="on"
                {% if send_file %}
                  enctype="multipart/form-data"
                {% endif %}>
            {% csrf_token %}
            {% for field in form %}
              {% if field.name in form.simple_forms %}
                <div class="mb-3">
                  <label for="{{ field.id_for_label }}" class="form-label">
                    {{ field.label }}
                  </label>
                  {{ field }}
                {% else %}
                  <div class="form-floating mb-3">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">
                      {{ field.label }}
                    </label>
                  {% endif %}
                  {% if field.errors %}
                    <div class="form-text text-danger">
                      {{ field.errors }}
                    </div>
                  {% endif %}
                  <div class="form-text">
                    {{ field.help_text }}
                  </div>
                </div>
              {% endfor %}
              <div class="text-end">
                <button type="submit" class="btn btn-primary">
                  {{ submit|default:'Submit'|upper }}
                </button>
              </div>
            </form>
            {% block form_extend_end %}
            {% endblock form_extend_end %}
          </div>
        </div>
      </div>
    </section>
  {% endblock content %}
