{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
  Home
{% endblock title %}
{% block link %}
  <link rel="stylesheet" href="{% static 'base/styles/home.css' %}" />
{% endblock link %}
{% block content %}
  <section class="py-5 posts-section">
    <div class="container">
      <div class="bg-body border shadow-sm rounded-2 py-3 py-sm-4 py-md-5 px-3 px-sm-4 px-md-5">
        <div class="px-sm-2 px-md-3 px-lg-4 mx-lg-2 pb-md-3">
          <div class="py-md-3">
            <div class="d-flex align-items-end p-3 bg-body-secondary mb-3 rounded-2 border">
              <h3 class="m-0">
                Recent Posts
              </h3>
              <div class="flex-grow-1 text-end">
                <a class="link link-primary lead" href="{% url 'posts' %}">Show All</a>
              </div>
            </div>
            {% render_vertical_posts request posts 6 %}
          </div>
          <hr class="my-5" />
          <div>
            <div class="d-flex align-items-end p-3 bg-body-secondary mb-3 rounded-2 border">
              <h3 class="m-0">
                Recent Topics
              </h3>
              <div class="flex-grow-1 text-end">
                <a class="link link-primary lead" href="{% url 'topics' %}">Show All</a>
              </div>
            </div>
            {% render_vertical_topics request topics 6 %}
          </div>
          <hr class="my-5" />
          <div>
            <div class="d-flex align-items-end p-3 bg-body-secondary mb-3 rounded-2 border">
              <h3 class="m-0">
                Newcomers
              </h3>
              <div class="flex-grow-1 text-end">
                <a class="link link-primary link-hove lead" href="{% url 'users' %}">Show All</a>
              </div>
            </div>
            <div>
              {% render_users request users _max=6 %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
